// Colors
$light: #FFFFFF;
$dark: #333333;
$dark-font: #20263E;
$grey: #606475;
$blue: #1F85C7;
$blue-hover: #3EA0DF;
$blue-active: #1979B7;
$pink: #E84A6E;
$pink-hover:#F97291;
$pink-active: #D33E60;
$pink-light: #FCECF0;
$blue-light: #EBF5FB;
$blue-grey: #597DA3;

// Fonts
$font-main: 'Jost', sans-serif;