.breadcrumbs {
    display: flex;
    align-items: center;
    width: 100%;
    @include r(1200) {}
    &__link {
        color: inherit;
        text-decoration: none;
        font-size: rem(14);
        &--light {
            color: $light;
        }
    }
    &__icon {
        display: block;
        fill: $dark-font;
        display: block;
        width: rem(4);
        height: rem(9);
        margin-left: rem(10);
        margin-right: rem(10);
        flex-shrink: 0;
        &--light {
            fill: $light;
        }
    }
}

span.breadcrumbs {
    &__link {
        color: #b5b6c6;
        &--light {
            color: $light;
        }
    }
}

a.breadcrumbs {
    &__link {
        &:hover {
            opacity: 0.5;
        }
    }
}
