.select {
  position: relative;
  display: flex;
  align-items: center;
  column-gap: 5px;
  cursor: pointer;
  min-width: 97px;

  select {
    width: 100%;
    height: 100%;
  }

  option {
    display: block;
  }

  svg {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translate3d(0, -50%, 0);

    path {
      stroke: $primary;
    }
  }

  &::selection {
    svg {
      transform: rotate(180deg);
    }
  }
}