<!DOCTYPE html>
<html lang="ru">

<head>
    <%= htmlWebpackPlugin.options.head %>
    <title><%= htmlWebpackPlugin.options.title %></title>
</head>

<body class="body">
<main class="main">
    <section class="section slider banners">
        <div class="container-field">
            <div class="slider__wrapper">
                <div class="swiper">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <img src="assets/images/sale.png" alt="Заставка баннера Sale в г. Краснодар">
                            <div class="swiper-col">
                                <p class="banners__date">10-19 февраля</p>
                                <h2 class="banners__title">Sale в салоне г. Краснодар</h2>
                                <p class="banners__slogan">С любовью к интерьеру</p>
                                <a href="#" class="button banners__button">Перейти в каталог</a>
                            </div>
                            <a href="#" class="button banners__button_mobile">Перейти в каталог</a>
                        </div>
                        <div class="swiper-slide">
                            <img src="assets/images/sale.png" alt="Заставка баннера Sale в г. Краснодар">
                            <div class="swiper-col">
                                <p class="banners__date">10-19 февраля</p>
                                <h2 class="banners__title">Sale в салоне г. Краснодар</h2>
                                <p class="banners__slogan">С любовью к интерьеру</p>
                                <a href="#" class="button banners__button">Перейти в каталог</a>
                            </div>
                            <a href="#" class="button banners__button_mobile">Перейти в каталог</a>
                        </div>
                        <div class="swiper-slide">
                            <img src="assets/images/sale.png" alt="Заставка баннера Sale в г. Краснодар">
                            <div class="swiper-col">
                                <p class="banners__date">10-19 февраля</p>
                                <h2 class="banners__title">Sale в салоне г. Краснодар</h2>
                                <p class="banners__slogan">С любовью к интерьеру</p>
                                <a href="#" class="button banners__button">Перейти в каталог</a>
                            </div>
                            <a href="#" class="button banners__button_mobile">Перейти в каталог</a>
                        </div>
                    </div>
                </div>
                <div class="slider__controls">
                    <div class="slider__button slider__button-prev">
                        <svg><use xlink:href="./assets/sprite/sprite.svg#scroll-arrow"></use></svg>
                    </div>
                    <div class="slider__button slider__button-next">
                        <svg><use xlink:href="./assets/sprite/sprite.svg#scroll-arrow"></use></svg>
                    </div>
                    <div class="slider__pagination"></div>
                </div>
            </div>
        </div>
    </section>
</main>
</body>
</html>