<!DOCTYPE html>
<html lang="ru">

<head>
    <%= htmlWebpackPlugin.options.head %>
    <title><%= htmlWebpackPlugin.options.title %></title>
</head>

<body class="body">
    <header class="section">
        <div class="container">
            <div class="header">
                Шапка
            </div>
        </div>
    </header>
    <main class="main">
        <section class="section">
            <div class="container">
                <div class="columns">
                    <div class="columns__col columns__col--6">
                        <h1>Dranik</h1>
                        <div class="editor">
                            <h1>
                                Dranik
                            </h1>
                            <p>
                                Стартовый шаблон для разработки
                            </p>
                        </div>
                    </div>
                    <div class="columns__col columns__col--6">
                        <svg>
                            <use xlink:href="#icon-camera"></use>
                        </svg>
                    </div>
                </div>
            </div>
        </section>
    </main>
    <footer class="section">
        <div class="container">
            <div class="header">
                Подвал
            </div>
        </div>
    </footer>
</body>

</html>